@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Space+Mono&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}
.cardBody{
 display: flex;
 flex-direction: column;
height: 300px;
}
.cardBox{
    border: 2px solid #fff;
    height: 200px;
    width: 150px;
}
.tittle{
  border-bottom: 2px solid #fff;
  text-align: center;
}
.cardText{
  max-width: 200px;
}